ul{
	list-style-type: none;
	font-size: 18px;
}

body {
	font-family: futura;
	padding: 80px;
}

.flex-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	padding: 5%;
	margin: 5%;
}

footer {
	text-align: center;
}

#album-cover {
	width: 300px;
	height: 300px;
}

input {
    width: 130%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}
input:focus {
    border: 3px solid #555;
}

.connected-sounds-logo {
	align-content: center;
}

.select:hover {
	opacity: .5;
}

.red {
	color: red;
}
.player {
	position: relative; bottom: 50%;
}
