@import url('https://fonts.googleapis.com/css?family=Passion+One');

$dustStorm: #E0D0C1;
$red: #CE3E4F;
$gray : #CCCCCC;
$black: #000000;

body {
	font-family: futura;
	width: 100%;
}

h1 {
 	font-family: 'Passion One', cursive;
	text-align: center;
}

h2 {
	 	font-family: 'Passion One', cursive;
}

footer {
	text-align: center;
	margin-bottom: 1%;
	margin-top: 2%;
}

input {
	position: relative;
	right: -150%;
	bottom: 400%;
	z-index: 1;
	width: 130%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border: 3px solid $gray;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	outline: none;
	border-radius: 5px;
 }

input:focus {
    border: 3px solid $red;
}

ul{
	list-style-type: none;
	font-size: 18px;
}

.artist {
	width: 300px;
	height: 300px;
	padding: 5px;
}

.artist-title {
	font-size: 60px;
	color: #CE3E4F;
	font-family: Helvetica Neue;
}

.artist-size {
	width: 500px;
	height: 500px;
}

.artistHeader {
	box-shadow: 0px 0px 10px 0px $black;
	margin-top: 4%;
}

.avatar {
	width: 300px;
	height: 300px;
}

.button-home {
	position: relative; right: -200%; bottom: 10%;
	z-index: 1;
}

.flex-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	align-content: stretch;
	padding: 5%;
	margin: 5%;
}

.icons {
	text-align: center;
}

.logo {
	width: 35%;
}

.main {
	width: 100%;
}

.red {
	color: red;
}

.padding-right {
	padding-right: 20px;
}

.player {
	position: relative; bottom: 50%;
}


.select:hover {
	opacity: .5;
}

.social {
	width: 3%;
	margin:1%;
}

#album-cover {
	width: 300px;
	height: 300px;

}
