<h1 class="text-center">About Us</h1>
<hr>
<p>If you've got vibes, on a cool level we can talk, but if you live lies. See unfold what I thought in my mind when I free it. As we approach another eve . Is it the aspiration to make other rappers think ya dope?. Turn up the am radio. First off focus, figure out why you wrote it. Although im low on currency . When you die what you own on Earth won't be coming with you. Never stop to sleep . What you use to grow it?. I swear to god it's too stretched. Word, I'm eager, to disrespect the petty thoughts of many reps. I've designed my own lifestyle words and vowels instead of rifals.</p>

<p>He remembers a little bit of his childhood. Do you see what can happen when Atmosphere grabs the mic?. What's the motive?. Nothin can fuck with the way it goes around (x2). Did the swallow get caught? Yo, does your throat feel tight?. Went from the Papermate to the spray paint. Mumma, please don't look now. And hang out with rhyme pals who tower like the Eiffel.... And my car and my keys . And i heave and a ho . A heave and a ho . Thanks for buying the tape. Got to change my style". (Hook:). Finally took the lead.</p>

<p>And all the way back to the Papermate. I feel that most of you soliders are flimsy. Momentum starts to slow . And i heave for them hos . The hunger, you want more than left over egg rolls?. You cats are far from inventive, cool and calm. And i heave and a ho . In the egg of the beast, it's the reigns i follow . That's right (That's right). Is it wrong for me to caress it against my ego?. So when a nigga calls next you better pick your team. But he never was one to blame today's grey sky on last week's rain. Is it cool if I use it to duel with my skeleton?. As I take steps and climb and leave footprints on your mind.</p>

<p>Afraid of getting towed . So he see's everything face value. Run through the fate, excuse me. Excuse me my friend, but is that your pen?. A heave and a ho . And brought it all the way back to the Papermate. That's right (That's right). I don't care if you're rich, I had your girl, and I'mma leave her. It's the TC's original b-boy Extreme. Just a word for you it's funny and I think you caught its fever. Adjust the mirror and the seat . through material-fertilized eyes and fantasize then walk. That's why a lot of us crawl. "Got to change my way of living. Can I use a ballpoint just to make my small points?</p>

<p>How the hell did you get over as an emcee?. Where you tryin to go with it?. Is it the laughter, the love, the hope?. Is it proper for me to use it to prosecute these people?. Is it the fans, the adoration of devils and angels?. Stayed cool amongst tools and fake fools gave jewels to use. A heave and a ho . I destruct an angled emcee before the touch of dawn. And the turntable keeps on turnin and turnin. [Spawn]. A lot of people fall off and some say they won't. Is the party now popin? Or at least a couple of heads noddin?. There's nothing to do except dupe, push down the wall and get through it. Got enough to pay the tolls . Do the people want it?</p>


<div class="flex-container">
  <div class="row">
    <div class="col-md-6">
      <h1 class="text-center">Megan Kaluza</h1>
      <img class="avatar" src="img/megan.jpg" alt="Megan">
    </div>
    <div class="col-md-6">
      <h1 class="text-center">Tam Nguyen</h1>
      <img class="avatar" src="img/tam.jpg" alt="Tam">
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h1 class="text-center">Nhate Hoang</h1>
      <img class="avatar" src="img/nhate.jpg" alt="Nhate">
    </div>
    <div class="col-md-6">
      <h1 class="text-center">Alvaro Flores</h1>
      <img class="avatar" src="img/alvaro.jpg" alt="Alvaro">
    </div>
  </div>
</div>
