<br>
<div class="container">
  {{#link-to 'index'}}<img src="img/logo.jpg" alt="Logo" class="logo">{{/link-to}}
  &nbsp;
  &nbsp;
  &nbsp;
  &nbsp;
  &nbsp;
  <span class="glyphicon glyphicon-menu-hamburger select"{{action 'toggleSidebar'}}></span>
  {{outlet}}
</div>

<div class="ui sidebar inverted vertical menu">
  <a class="item">
    {{#link-to 'index'}}&#x266B; Home{{/link-to}}
  </a>
  <a class="item">
    {{#link-to 'about'}}&#x266A; About{{/link-to}}
  </a>
  <a class="item">
    {{#link-to 'contact'}}&#x266C; Contact{{/link-to}}
  </a>
</div>
<div class="pusher">
  <!-- Site content !-->
</div>
<hr>
<footer>
  &copy; <img src="img/connected.png" alt="Footer">
</footer>
