<h1 class="text-center">Contact Us</h1>
<hr>
<img src="img/record.jpeg" alt="Lights" class="main">
<br>
<h1>connected.sounds@gmail.com</h1>
<div class="icons">
  <img src="img/facebook.png" alt="Facebook" class="social">
  <img src="img/google.png" alt="Google" class="social">
  <img src="img/twitter.png" alt="Twitter" class="social">
  <img src="img/instagram.png" alt="Instagram" class="social">
</div>
