<h1 class="text-center">Welcome: Search for your favorite Artist</h1>
<hr>
<img src="img/music.jpeg" alt="Lights" class="main">
<br>
<br>
<div class="row">
  <div class="col-sm-3">
    {{search-form songLookUp="songLookUp"}}
  </div>
</div>
