<h1 class="text-center">Artists</h1>
<hr>
<div class="flex-container">
  {{#each model as |search|}}
  {{#if search.images.[0].url}}
  {{#link-to 'details' search.id}}<div class="artist"><img src="{{search.images.[0].url}}" alt="Image" class="select artist"></div>{{/link-to}}
  {{else}}
  {{/if}}
  {{/each}}
</div>
